# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# environment
.env
.env.local
.env.production
.env.development.local

# native generated folders
android/
ios/

# macOS
.DS_Store

# logs
npm-debug.*
yarn-debug.*
yarn-error.*

# TypeScript
*.tsbuildinfo

# secrets
*.jks
*.p8
*.p12
*.key
*.mobileprovision
